body .modal {
  width: 90%; /* desired relative width */
  max-width: 1000px;
  left: 5%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto; 
}

.modal-dialog {
    max-width:100%;
}
.modal-body  {
    max-height: 700px;
}

.jumbotron li{
	font-size: 21px;
}

 .CodeMirror {
	font-size:20px;
 }

#dropdown-menu{  
    float:right;
}
