    <div class="jumbotron">
        <h2 class="text-center">{{title}}</h2>
       
        
        
     
        <div ng-show="edit">
          <textarea ng-model="src" class="form-control empty" rows="40">
          </textarea>
        </div>
          
        <div ng-show="!edit" class="panel panel-default">
           <p btf-markdown="content"></p>
        </div>

        
        

        <h4 class="">
          <p>
          <div class="togglebutton">
          <label style="margin-right:20px;">
            <input type="checkbox" ng-model="edit" checked=""><span class="toggle"></span> Edit   
          </label>
            <a ng-click="onClick($event)" class="btn btn-primary btn-xs"> <i class="mdi-navigation-expand-more"></i>
              Run To Console
            </a>
          </div>
          </p>
        </h4>
      </div>