    <div class="jumbotron">
        <h2 class="text-center">{{title}}</h2>
       
        
        <div class="panel panel-default">
        <p btf-markdown="content"></p>
        <!--
         <div ng-switch on="isExists(item)">
            <span ng-switch-when="true">Available</span>
            <span ng-switch-default>oh no, you don't have it</span>
        </div>
        -->
        </div>

        <h4 class="">
          <p>
            <a class="btn btn-primary btn-xs"> <i class="mdi-navigation-expand-more"></i>
              Learn more
            </a>
          </p>
        </h4>
      </div>
    </div>