
    <div ng-controller="SingleBlog">
      <div class="jumbotron">
        <h2 class="text-center">SingleBlog:{{title}}</h2>

        <h4>写作于  {{createdAt}}</h4>
        <h4>TAGS:  {{filter}}</h4>

        

        <div class="panel panel-default">
        <p btf-markdown="contentThumb"></p>
        </div>

        <h4 class="">
          <p>
            <a class="btn btn-primary btn-xs"> <i class="mdi-navigation-expand-more"></i>
              Learn more
            </a>
          </p>
        </h4>
      </div>
    </div>