
      


    <div class="jumbotron col-lg-9 col-md-9 col-sm-9">
        <h2 class="text-center">{{title}}</h2>
       
        <h4 class="">
          <p>
          <div class="togglebutton">
          <label style="margin-right:20px;">
            <input type="checkbox" ng-model="edit" checked=""><span class="toggle"></span> Edit   
          </label>
            <a ng-click="onClick($event)" class="btn btn-primary btn-xs"> <i class="mdi-navigation-expand-more"></i>
              Run To Console
            </a>
          </div>
          </p>
        </h4>

       
       
       <div ng-show="!edit" class="panel panel-default">
         <p btf-markdown="content"></p>
      </div>

      <div id="code"></div>

        
     
        <div >
          
        </div>
          
        

   

        
        
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 div-scrollable" style="height:500px;">
        <div class="well infobox" style="background-color: #bcbcbc;">Console  <a ng-click="onClear($event)" class="btn btn-default btn-xs">Clear</a>
            <BR>
        <pre style="background-color: #bcbcbc;">{{console}}</pre>
        </div>
    </div>