
<div id="dropdown-menu" class="col-lg-3 col-md-3 col-sm-3 input-group">
<span class="input-group-addon"><b>Repository:</b></span>
<div class="sample" >
  <select class="form-control" ng-model="select" placeholder="Your favorite pastry">
    <option value="javascript">javascript</option>
    <option value="m-notes">m-notes</option>
    <option value="m-soft">m-soft</option>
    <option value="m-glxuewei">m-glxuewei</option>
    <option value="meiroo.github.io">meiroo.github.io</option>
    <option value="photosyth2ViewerTest">photosyth2ViewerTest</option>
    <option value="weixin">weixin</option>
    <option value="BabylonSample">BabylonSample</option>
    <option value="OpenCV-Marker-less-AR">OpenCV-Marker-less-AR</option>
    
    
    
    
  </select>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 togglebutton">
    <label>
        <input type="checkbox" ng-model="check" checked="checked"><span class="toggle"></span> {{check?"ALL FILES :":"MD FILES :"}}
    </label>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 input-group">
<span class="input-group-addon"><b>Filter:</b></span>
    <div class="form-control-wrapper"><input type="text" ng-model="search" class="form-control empty" placeholder="RE Supported">


    <span class="material-input"></span>

<label>by Dir:</label>
<select style="margin-top:20px;max-width:100px;" ng-model="selectDir" placeholder="Your favorite pastry">
      <option value=""> / </option>
        <option ng-repeat="blog in array |filter:dir| limitTo: 200 " value="{{blog.path}}">{{blog.path}}</option>
      </select>
    </div>

</div> 




<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Full Path</th>
        </tr>
    </thead>
    <tbody>
      


        <tr ng-repeat="blog in array |filter:file| limitTo: 50 ">
            <td>{{blog.index}}</td>
            <td><a href="/viewer.html#/repo/{{select}}/path/{{blog.path}}">{{blog.title}}</a></td>
            <td>{{blog.path}}</td>
        </tr>
        
    </tbody>
</table>