
<div class="col-lg-3 col-md-3 col-sm-3 togglebutton">
    <label>
        <input type="checkbox" ng-model="check" checked="checked"><span class="toggle"></span> {{check?"ALL FILES":"MD FILE"}}
    </label>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 input-group">
<span class="input-group-addon"><b>Filter:</b></span>
    <div class="form-control-wrapper"><input type="text" ng-model="search" class="form-control empty" placeholder="RE Supported"><span class="material-input"></span></div>

</div>



<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Full Path</th>
        </tr>
    </thead>
    <tbody>
      


        <tr ng-repeat="blog in array |filter:myFilter| limitTo: 30 ">
            <td>{{blog.index}}</td>
            <td><a href="/viewer.html#/name/{{blog.title}}/?url={{blog.url}}">{{blog.title}}</a></td>
            <td>{{blog.fullpath}}</td>
        </tr>
        
    </tbody>
</table>